

.slider {
    overflow: hidden;
    width: 60%;
    margin: 20px auto;
    cursor: grab;
    border: 1px solid black;
}

.item {
    min-height: 25rem;
    min-width: 20rem;
    padding: 40px 20px;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
}

.inner-slider {
    display: flex;
}